* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  font-family:  Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

header {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/9d3533b2-0e2b-40b2-95e0-ecd7979cc88b/a3873901-5b7c-46eb-b9fa-12fea5197bd3/IN-en-20240311-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  height: 100vh;
  width: 100%;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;

}

.box {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: black;
  opacity: 0.59;
  position: absolute;
}


nav {
  margin: 0;
  padding: 40px 70px;
  align-items: center;
  flex-direction: row;
  position: relative;


}

.logo {
  font-size: 50px;
  margin: 0 16px;
  color: rgb(228, 7, 7);
  font-weight: bolder;
  opacity: 1;
}

.nav-list {
  margin: -50px 3px;
  float: right;


}

li {
  margin: 5px;
  list-style: none;
  display: inline-block;

}

#language1{
  width: auto;
  padding: 10px 20px 10px 30px;
  font-size: 16px;
  height: 40px;
  color: white;
  background-color: black;
  opacity: 0.8;
  border: 1px solid rgb(99, 99, 99);
  border-radius: 5px;
  margin: 0px 8px;
  background-image: url(language.png);
  background-repeat: no-repeat;
  background-size:30px;
  line-height: 2;
}

.btn2 {
  background-color: red;
  font-size: 20px;
  color: white;
  margin: -26px 0;
  padding: 0;
  padding: 10px 21px;
  border: none;
  border-radius: 9px;

}


.main {
  color: white;
  position: relative;
  text-align: center;
  justify-items: center;
  margin-top: 6rem;
}

.main h1 {
  font-size: 4rem;
  font-weight: 900rem;

}

.main h2 {
  margin: 14px;
  font-size: 22px;
}

.main h4 {
  font-size: 18px;
  margin: 18px;
  font-weight: normal;

}

.email-box {
  width: 400px;
  height: 57px;
  background-color: rgb(22, 20, 20);
  opacity: 0.8;
  border: 1px solid white;
  padding: 5px 20px;
  border-radius: 5px;
}

.email-btn {
  width: 180px;
  height: 55px;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 22px;
  border: 1px solid red;
  padding: 5px 20px;
  margin: 0 10px;

}
.email2{
  margin: 25px 65px;
}
.email-box2 {
  width: 750px;
  height: 58px;
  background-color: rgb(22, 20, 20);
  opacity: 0.8;
  border: 1px solid white;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 20px;
}

.email-btn2 {
  width: 200px;
  height: 58px;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 22px;
  border: 1px solid red;
  padding: 5px 20px;
  margin: 0 10px;

}

.sepration {
  content: '';
  position: relative;
  top: 40%;
  left: 0;
  height: 50px;
  margin-top: -50px;
  background: linear-gradient(45deg, blue, rgb(216, 10, 161));
  border-radius: 50% 50% 0 0/100% 100% 0 0;

}

.line-border {
  content: '';
  background-color: black;
  background-image: linear-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
  border-radius: 50% 50% 0 0;
  margin-top: -42px;
  top: 50%;
  height: 60px;
  width: 100%;
  position: relative;

}

.trending {
  background-color: black;
  color: white;
  padding: 30px 150px;

}

.trending h2 {
  font-size: 30px;
  margin: 15px 0;
  font-weight: 600;
}

.trending-btn select {
  width: 120px;
  height: 40px;
  display: inline;
  margin-right: 20px;
  padding: auto 40px;
  font-size: 17px;
  background: transparent;
  color: white;
  border: 1px solid rgb(72, 69, 69);
  border-radius: 4px;
}

.trending-btn select option {
  color: black;
}





.container {
  max-width: 1200px;
  width: 87%;
  margin: 40px 80px;
}

.slide-wrapper .image-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(10, 1fr);
  overflow-x: auto;
  scrollbar-width: none;
 
}

.slide-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.image-item1 {
  background-image: url(https://occ-0-3752-3647.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABR4xt-RQ-coKf-0shaWKrwpFSHNcyll4ZjxDYqjBm6-oAkPAxequYWtYDhmX3K93Ap54JMbx49_gK6eiNvl6J9MJ4IqH31tYQCo.webp?r=dc6);
  background-size: cover;
  width: 180px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
 
}

.image-list h1 {
  font-size: 110px;
  font-weight: 1100;
  color: black;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: white;
  margin: 115px 0 0 -20px;
}

.image-item2 {
  background-image: url(https://occ-0-3752-3647.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABVknrk7Upyc1OjL4Ghjm9mQW5I5lTjYhg6yolruBp4ptZ8lfbnE0Yti_s1LKnck9sOZZ7OVipb9rNLQHh5UkP3HzWAk_tnIM0ttZGEAdmG15si3mn6Iem7xv85xa4xpGcxqY.webp?r=e98);
  background-size: cover;
  width: 180px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
}

.image-item3 {
  background-image: url(https://occ-0-3752-3647.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABYQ6rfOvgLrWI3kYEJHShC6lakabAdn9AcCNeaQzU56X1_zWjqS8Lms3kDGVXd2kceRCtji09doxifAlLWRo49dXMcGuodptwZ_d493aEyRFHJ0gnb-xvUp7IMJbNgZOSkMsNNi7ZYBBFuXpUAC7pfFtFQ0n_YE7DGs.webp?r=0f6);
  background-size: cover;
  width: 180px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
}

.image-item4 {
  background-image: url(https://occ-0-3752-3647.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABR5C2wLs9YB-kjnKGkqRmiy3Ht9dOz_tlU1iqKZ6ZKg9SSh5MrGoz1O-1-XUYnnJPXsKO66OEDoRtbgj7esBoC52rMjk5XMamIE.webp?r=bad);
  background-size: cover;
  width: 180px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
}

.image-item5 {
  background-image: url(https://occ-0-3752-3647.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABa6NNJJ0BcNg9FrxjaBtaCc5Z5JpecOX2iQu6-Nmlw9fPxsms47A5xsTJLqX-HZ3zzSbXwB1R7avwaVc-gvslcxTC5Plfrh-c5s.webp?r=997);
  background-size: cover;
  width: 180px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
}

.image-item6 {
  background-image: url(https://occ-0-3752-3647.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABTSwdjikRQXWb5VxC2f1y1YMexQh0suc1q5ShtDC1L5COOqe4mykMmnr6E81KqVvJlYcRzDMVFwWaOYfUM1hu4g9DpdJl6UK4rw.webp?r=5fa);
  background-size: cover;
  width: 180px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
}

.image-item7 {
  background-image: url(https://occ-0-3752-3647.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABXw0FGyLt2rfYx2J0XdtdRYMYBMNuNJCdLOY3aAxtLl2xD__eJO-OJg6QXPgnXDhnS7WcRTXLfs5swgP5p7Bi74eXquIP_aAdjwytcdib3V13Y9nU0DrLlBLlQFbtfSjN2U2.webp?r=7ab);
  background-size: cover;
  width: 180px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
}

.image-item8 {
  background-image: url(https://occ-0-3752-3647.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABe8Zg5UTD_G3CRF1axnBK3Y-MNd1WMt7okVWbeeC_ATYtFoScN51wK5I3PiIEscZ4rIDRb8u48buJntB0XKFXeogxFuwq86hEMA.webp?r=ce7);
  background-size: cover;
  width: 180px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
}

.image-item9 {
  background-image: url(https://occ-0-3752-3647.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABf_6TG8vKsXqijRqDVJ9VCTIy0mHVi_7Af0SdPeekW1iUNaBxAUoqmdZ8ghMDQUfNzpbIir8cHbOk5OQVqbXdt_iI34_8WPPAsQ.webp?r=896);
  background-size: cover;
  width: 180px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
}

.image-item10 {
  background-image: url(https://occ-0-3752-3647.1.nflxso.net/dnm/api/v6/WNk1mr9x_Cd_2itp6pUM7-lXMJg/AAAABRSwwUxyTPYj67RWisqwKVekgpQZfXXB3YwcviyEmdIgV9YPNqG-byeCykYxluaHavTuH21b-83hgsBCx3Ag4h5VEkT4CxqYInQ.webp?r=f73);
  background-size: cover;
  width: 180px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
}
.image-item1:hover {
  transform: scale(1.05);
  z-index: 2;
}
.image-item2:hover {
  transform: scale(1.05);
  z-index: 2;
}

  .image-item3:hover {
    transform: scale(1.05);
    z-index: 2;
  }
  .image-item4:hover {
    transform: scale(1.05);
    z-index: 2;
  }
  .image-item5:hover {
    transform: scale(1.05);
    z-index: 2;
  }
  .image-item6:hover {
    transform: scale(1.05);
    z-index: 2;
  }
  .image-item7:hover {
    transform: scale(1.05);
    z-index: 2;
  }
.image-item8:hover {
  transform: scale(1.05);
  z-index: 2;
}
.image-item9:hover {
  transform: scale(1.05);
  z-index: 2;
}
.image-item10:hover {
  transform: scale(1.05);
  z-index: 2;
}

.slide-wrapper .slide-button {
  position: absolute;
  height: 90px;
  width: 40px;
  color: white;
  border: none;
  outline: none;
  background-color: rgb(28, 27, 27);
  cursor: pointer;
  transform: translateY(-50%);
  top:144%;
}

.slide-wrapper .slide-button#pre-slide {
  left: 150px;
}
.slide-wrapper .slide-button:hover{
  background-color: rgb(41, 41, 41);
}

.slide-wrapper .slide-button#next-slide {
  right: 150px;
 
}

.fixed-btn {
  display: none;
}

.column {
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
  height: 60vh;
}

.col {
  width: 400px;
  height: 300px;
  background: linear-gradient(to right bottom, rgb(30, 22, 42), rgb(30, 22, 42), rgb(30, 22, 42), rgb(49, 29, 54));
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  padding: 20px;
  margin: 10px 15px 10px 0;
  text-align: left;

}

.col h2 {
  font-size: 16px;
}

.col h3 {
  font-size: 17px;
  color: rgb(162, 161, 161);
}

.accordion{
  max-width: 120vh;
  
}
.accordion .content-box{
  position: relative;
  margin: 10px 20px;
}
.accordion .content-box .label{
   position: relative;
   font-size: 25px;
   background-color:rgb(45, 45, 45);
   color: white;
   padding:  30px ; 
   cursor: pointer;
}
.accordion .content-box .label:hover{
    background-color: rgb(45,45,45);
}
.accordion .content-box .label::before{
    content: "+";
    position: absolute;
    top: 50%;
    left: 94%;
    transform: translateY(-50%);
    font-size: 1.5em;
    font-weight: 800;
}

.accordion .content-box.active .label::before{
    
    transform: rotate(135deg);
   top: 25%;
   font-size: 1.5em;
    font-weight: 800;
   
}
.accordion .content-box .content{
   position: relative;
   font-size: 22px;
   color: white;
   background-color:rgb(45, 45, 45);
   height: 0;
   overflow: hidden;
   transition: 0.4s;
   overflow-y: auto;

}
.accordion .content-box.active .content{
    height: auto;
    padding: 20px 30px 50px;
    margin-top: 3px ;
    margin-bottom: 6px;
}
.faq{
  
  height: auto;
  background-color: black;
  padding: 30px 150px;
  
}
.faq h2{
  font-size: 35px;
  color: white;
  margin-left: 80px;
}

footer{
  color: white;
  background-color: black;
  height: 40vw;
 margin: 0px;
  max-width: 100%;
  padding: 30px 120px;
  text-align: left;
}
 footer .Questions{
  color: rgb(224, 224, 224);
  font-size:20px;
  margin: 0px 60px;
 
  
}
.footer{
  display: grid;
  height: 40vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: flex-start;
 

}
.footer-item{
  gap: 23px;
  display: flex;
  flex-direction: column;
 
 margin: 2px 0px;
 padding: 0;
  
  
}



.footer-item a{
  
  color: rgb(202, 202, 202);
 font-size: 18px;
  margin-left: 0px;
 
}
.membership{
  font-size: 19px;
  margin: 2px 60px;
}
#language2{
  width: auto;
  padding: 8px 24px 8px 24px;
  font-size: 16px;
  color: white;
  background-color: black;
  opacity: 0.8;
  border: 1px solid rgb(99, 99, 99);
  border-radius: 5px;
  margin: 20px 10px;
  background-image: url(language.png);
  background-repeat: no-repeat;
   float: left;
  justify-content: space-between;
  line-height: 2;
  background-size:30px;
}
.img1 {
  width: 60px;
  height: 50px;
  float: right;
  margin-top: 30px;
}
.img2 {
  width: 60px;
  height: 50px;
  float: right;
  margin-top: 13px;
}
.img3 {
  width: 60px;
  height: 50px;
  float: right;
  margin-top: 50px;
}
.img4 {
  width: 60px;
  height: 50px;
  float: right;
  margin-top: 30px;
}



@media screen and (max-width:600px) {
  header {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/9d3533b2-0e2b-40b2-95e0-ecd7979cc88b/a3873901-5b7c-46eb-b9fa-12fea5197bd3/IN-en-20240311-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 150vh;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  nav {
    margin: 0;
    padding: 20px;
    background-color: transparent;
    height: 80px;
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .logo {
    font-size: 30px;
    margin: 0;
    color: rgb(228, 7, 7);
    font-weight: bolder;
    float: left;

  }

  .nav-list {
    margin: 0 3px;
    float: right;
    font-size: 5px;

  }

  li {
    margin: 0 3px;
    list-style: none;
    display: inline-block;
    padding: 0;

  }
  #language1{
    width: 60px;
    padding: 10px 2px 10px 35px;
    font-size: 15px;
    color: white;
    background-color: black;
    opacity: 0.8;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 5px;
    margin: 0px 8px;
    background-image: url(language.png);
    background-repeat: no-repeat;
    background-size:30px;
    line-height: 2;
  }
  .eng{
    display: block;
  }
  

  .btn2 {
    background-color: red;
    margin-top: 0;
    font-size: 15px;
    color: white;
    padding: 10px 15px;
    border: none;
    border: 0.3px solid transparent
  }

  

  .box {
    width: 100%;
    height: 150vh;
    opacity: 0.65;
    background-color: black;

  }

  .main {
    color: white;
    position: relative;
    text-align: center;
    justify-items: center;
    margin: 0px;

  }

  .main h1 {
    font-size: 34px;
    font-weight: 100rem;
    margin-top: -15rem;

  }

  .main h2 {
    margin: 10px;
    font-size: 14px;
    font-weight: normal;
  }

  .main h4 {
    font-size: 17px;
    margin: 14px;
    font-weight: normal;

  }

  .email-box {
    width: 90%;
    margin: 2px 18px;
    height: 50px;
    background-color: black;
    opacity: 0.8;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 5px;
    position: relative;
  }

  .email-btn {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(218, 5, 5);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid rgb(177, 5, 5);
    padding: 5px 20px;
    margin: 15px 10px;

  }

  .sepration {
    content: '';
    position: relative;
    top: 50%;
    left: 0;
    height: 50px;
    margin-top: -45px;
    background: linear-gradient(45deg, blue, rgb(216, 10, 161));
    border-radius: 50% 50% 0 0/100% 100% 0 0;

  }

  .line-border {
    content: '';
    background-color: black;
    background-image: linear-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    border-radius: 50% 50% 0 0;
    margin-top: -44px;
    top: 50%;
    height: 60px;
    width: 100%;
    position: relative;

  }

  .trending {
    background-color: black;
    color: white;
    padding: 10px 30px 40px;

  }

  .trending-btn select {
    width: 100%;
    height: 40px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    background: rgb(23, 19, 19);
    color: white;
    border: 1px solid rgb(72, 69, 69);
    border-radius: 4px;
  }

  .container {
    max-width: 550px;
    width: 87%;
    margin: 40px 10px;
  }
  .image-list h1{
    background-size: 30px;
  }
  .fixed {
    background-color: black;
  }

  .fixed-btn {
    width: 90%;
    margin: 0 30px 15px;
    height: 40px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: red;
    position: fixed sticky;
  }

  .column {
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    height: 200vh;
  }

  .col {
    width: 100%;
    height: 170px;
    background: linear-gradient(to right bottom, rgb(30, 22, 42), rgb(30, 22, 42), rgb(30, 22, 42), rgb(49, 29, 54));
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    margin: 8px 15px;
    text-align: left;

  }

  

  .col h3 {
    font-size: 17px;
    color: rgb(162, 161, 161);
  }
  .column h1{
    font-size: 28px;
  }

  .img1 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 20px;
  }
  .img2 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 5px;
  }
  .img3 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 20px;
  }
  .img4 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 20px;
  }
  .trending h2 {
    font-size: 25px;
    margin: 15px 0;
    font-weight: 600;
  }
  .faq{
  
    height: auto;
    background-color: black;
    padding: 30px 40px;
    
  }
  .faq h2{
    font-size: 25px;
    color: white;
   margin-left: 2px;
  }
  .faq-box{
    height: 72px;
    color: white;
    box-sizing: border-box;
    background-color:#2d2d2d;
    max-width: 100%;
    justify-content: space-between;
    margin: 15px 0px;
    display: flex;
    padding: 30px;
  }
  .faq svg{
    width: 20px;
    float: right;
    display: flex;
  }
  .faq span{
    font-size: 22px;
    margin: 50px;
  }
  footer{
    color: white;
    background-color: black;
    height: 250vw;
    margin: 0px;
    max-width: 100%;
    padding: 50px 20px;
    text-align: left;
  }
   footer .Questions{
    color: rgb(212, 205, 205);
    font-size:18px;
    margin: 30px 10px;
   
    
  }
  .footer{
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr ;
    justify-content: flex-start;
    float: left;
    text-align: left
   
  
  }
  .footer-item{
    gap: 23px;
    display: flex;
    flex-direction: column;
   margin: 2px 0px;
   padding: 0;
   
    text-align: left;
    
  }
  
  
  
  .footer-item a{
    
    color: rgb(202, 202, 202);
   font-size: 15px;
    margin-left: 20px;
    text-align: left;
   
   
  }
  .membership{
    font-size: 19px;
    margin: 7px 10px;
  }
  .email2{
    margin: 25px 5px;
  }
  .email-box2 {
    width: 100%;
    height: 55px;
    background-color: rgb(22, 20, 20);
    opacity: 0.8;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .email-btn2 {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(188, 7, 7);
    color: white;
    font-weight: bold;
    font-size: 19px;
    border: none;
    padding: 5px 20px;
    margin: 20px 0px;
  
  }
  #language2{
    width: auto;
    padding: 8px 25px 8px 34px;
    font-size: 16px;
    color: white;
    background-color: black;
    opacity: 0.8;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 5px;
    margin: 20px 10px;
    background-image: url(language.png);
    background-repeat: no-repeat;
   
    justify-content: space-between;
    line-height: 2;
    background-size:30px;
  }
  
}
@media screen and (min-width:600px) and (max-width:768px) {
  header {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/9d3533b2-0e2b-40b2-95e0-ecd7979cc88b/a3873901-5b7c-46eb-b9fa-12fea5197bd3/IN-en-20240311-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 150vh;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  nav {
    margin: 0;
    padding: 20px;
    background-color: transparent;
    height: 80px;
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .logo {
    font-size: 30px;
    margin: 0;
    color: rgb(228, 7, 7);
    font-weight: bolder;
    float: left;

  }

  .nav-list {
    margin: 0 3px;
    float: right;
    font-size: 5px;

  }

  li {
    margin: 0 3px;
    list-style: none;
    display: inline-block;
    padding: 0;

  }
  #language1{
    width: auto;
    padding: 10px 20px 10px 30px;
    font-size: 16px;
    height: 40px;
    color: white;
    background-color: black;
    opacity: 0.8;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 5px;
    margin: 0px 8px;
    background-image: url(language.png);
    background-repeat: no-repeat;
    background-size:30px;
    line-height: 2;
  }
  
  

  .btn2 {
    background-color: rgb(204, 4, 4);
    margin-top: 0;
    font-size: 16px;
    color: white;
    padding: 9px 16px;
    border: none;
    
  }

  

  .box {
    width: 100%;
    height: 150vh;
    opacity: 0.65;
    background-color: black;

  }

  .main {
    color: white;
    position: relative;
    text-align: center;
    justify-items: center;
    margin: 0px;

  }

  .main h1 {
    font-size: 40px;
    font-weight: 100rem;
    margin-top: -12rem;

  }

  .main h2 {
    margin: 10px;
    font-size: 16px;
    font-weight: normal;
  }

  .main h4 {
    font-size: 18px;
    margin: 14px 30px;
    font-weight: normal;

  }

  .email-box {
    width: 40%;
    margin: 2px 0px;
    height: 50px;
    background-color: rgb(30, 27, 27);
    opacity: 0.8;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 5px;
    position: relative;
    font-size: 18px;
  }

  .email-btn {
    width: auto;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(199, 7, 7);
    color: white;
    font-weight: bold;
    font-size: 19px;
    border: none;
    padding: 8px 20px;
    margin: 10px 5px;

  }

  .sepration {
    content: '';
    position: relative;
    top: 50%;
    left: 0;
    height: 50px;
    margin-top: -45px;
    background: linear-gradient(45deg, blue, rgb(216, 10, 161));
    border-radius: 50% 50% 0 0/100% 100% 0 0;

  }

  .line-border {
    content: '';
    background-color: black;
    background-image: linear-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    border-radius: 50% 50% 0 0;
    margin-top: -44px;
    top: 50%;
    height: 70px;
    width: 100%;
    position: relative;

  }

  .trending {
    background-color: black;
    color: white;
    padding: 20px 50px 10px;
    font-size: 20px;
    margin: 0;

  }

  .trending-btn select {
    width: 100%;
    height: 40px;
    
    margin: 15px 0;
    
    padding-left: 5px;
    padding-right: 5px;
    font-size: 17px;
    background: rgb(23, 19, 19);
    color: white;
    border: 1px solid rgb(72, 69, 69);
    border-radius: 4px;
  }
  .container {
    max-width: 1200px;
    width: 80%;
   height: 200px;
    margin: 70px 50px;
  }
  .slide-wrapper .slide-button {
    position: absolute;
    height: 90px;
    width: 30px;
    color: white;
    border: none;
    outline: none;
    background-color: rgb(28, 27, 27);
    cursor: pointer;
    transform: translateY(-50%);
    top:273%;
  }
  
  .slide-wrapper .slide-button#pre-slide {
    left: 50px;
  }
  .slide-wrapper .slide-button:hover{
    background-color: rgb(41, 41, 41);
  }
  
  .slide-wrapper .slide-button#next-slide {
    right: 50px;
   
  }

  
  
.column h1{
  font-size: 28px;
}
  

  .fixed {
    background-color: black;
  }

  .fixed-btn {
    width: 90%;
    margin: 0 30px 15px;
    height: 40px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: red;
    position: fixed sticky;
  }

  .column {
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    height: 210vh;
    padding: 10px 0px;
    
   
  }

  .col {
    width: 100%;
    height: auto;
    background: linear-gradient(to right bottom, rgb(30, 22, 42), rgb(30, 22, 42), rgb(30, 22, 42), rgb(49, 29, 54));
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    padding: 12px 30px;
    margin: 8px 0px;
    text-align: left;

  }

  .column h1 {
    font-size: 25px;
  }

  .col h3 {
    font-size: 18px;
    color: rgb(181, 180, 180);
  }

  .img1 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 20px;
  }
  .img2 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 20px;
  }
  .img3 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 30px;
  }
  .img4 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 20px;
  }

  .trending h2 {
    font-size: 25px;
    margin: 15px 0;
    font-weight: 500;
  }
  .faq{
    width: 100%;
    height: auto;
    background-color: black;
    padding: 40px 50px;
    
  }
  .faq h2{
    font-size: 22px;
    color: white;
   margin-left: 2px;
  }
  .accordion{
    max-width: 190vh;
    
  }
  .accordion .content-box{
    position: relative;
    margin: 10px 30px;
    
  }
  .accordion .content-box .label{
     position: relative;
     font-size: 20px;
     background-color:rgb(45, 45, 45);
     color: white;
     padding:  30px ; 
     cursor: pointer;
     width: 550px;
  }
  .accordion .content-box .label:hover{
      background-color: rgb(45,45,45);
  }
  .accordion .content-box .label::before{
      content: "+";
      position: absolute;
      top: 50%;
      left: 94%;
      transform: translateY(-50%);
      font-size: 1.5em;
      font-weight: 100;
  }
  
  .accordion .content-box.active .label::before{
      
      transform: rotate(135deg);
      top: 25%;
     font-size: 1.5em;
      font-weight: 200;
     
  }
  .accordion .content-box .content{
     position: relative;
     font-size: 20px;
     color: white;
     background-color:rgb(45, 45, 45);
     height: 0;
     overflow: hidden;
     transition: 0.4s;
     overflow-y: auto;
     width: 550px;
  
  }
  .accordion .content-box.active .content{
      height: auto;
      padding: 20px 30px 50px;
      margin-top: 3px ;
      margin-bottom: 6px;
  }
  footer{
    color: white;
    background-color: black;
    height: 90vw;
    margin: 0px;
    max-width: 100%;
    padding: 30px 50px;
    
  }
   footer .Questions{
    color: rgb(212, 205, 205);
    font-size:20px;
    margin: 20px 50px;
   
    
  }
  .footer{
    width: 100%;
    display: grid;
    height: 40vh;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    float: left;
   
   
   
  
  }
  .footer-item{
    gap: 23px;
    width:100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
   float: left;
    text-align: left;
    
  }
  
  
  
  .footer-item a{
    
    color: rgb(202, 202, 202);
   font-size: 15px;
    margin-left: -20px;
   
    float: left;
   
   
  }
  .membership{
    font-size: 19px;
    margin: 2px 0px;
  }
  .email2{
    margin: 25px 5px;
  }
  .email-box2 {
    width: 60%;
    height: 55px;
    background-color: rgb(22, 20, 20);
    opacity: 0.8;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .email-btn2 {
    width: 30%;
    height: 55px;
    border-radius: 5px;
    background-color: rgb(188, 7, 7);
    color: white;
    font-weight: bold;
    font-size: 19px;
    border: none;
    padding: 7px 20px;
    margin: 0 10px;
  
  }
  #language2{
    width: auto;
    padding: 8px 25px 8px 34px;
    font-size: 16px;
    color: white;
    background-color: black;
    opacity: 0.8;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 5px;
    margin: 20px 10px;
    background-image: url(language.png);
    background-repeat: no-repeat;
   
    justify-content: space-between;
    line-height: 2;
    background-size:30px;
  }
  
  
  
}
@media screen and (min-width:768px) and (max-width:1024px) {
  header {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/9d3533b2-0e2b-40b2-95e0-ecd7979cc88b/a3873901-5b7c-46eb-b9fa-12fea5197bd3/IN-en-20240311-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 170vh;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  nav {
    margin: 0;
    padding: 20px 80px;
    background-color: transparent;
    height: 80px;
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .logo {
    font-size: 40px;
    margin: 0;
    font-weight:400;
    color: rgb(228, 7, 7);
    font-weight: bolder;
    float: left;

  }

  .nav-list {
    margin: 0 3px;
    float: right;
    font-size: 5px;

  }

  li {
    margin: 0 3px;
    list-style: none;
    display: inline-block;
    padding: 0;

  }
  #language1{
    width: auto;
    padding: 10px 20px 10px 30px;
    font-size: 16px;
    height: 40px;
    color: white;
    background-color: black;
    opacity: 0.8;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 5px;
    margin: 0px 8px;
    background-image: url(language.png);
    background-repeat: no-repeat;
    background-size:30px;
    line-height: 2;
  }
  
  

  .btn2 {
    background-color: rgb(204, 4, 4);
    margin-top: 0;
    font-size: 16px;
    color: white;
    padding: 9px 16px;
    border: none;
    
  }

  

  .box {
    width: 100%;
    height: 170vh;
    opacity: 0.65;
    background-color: black;

  }

  .main {
    color: white;
    position: relative;
    text-align: center;
    justify-items: center;
    margin: 0px;

  }

  .main h1 {
    font-size: 40px;
    font-weight: 100rem;
    margin-top: -11rem;

  }

  .main h2 {
    margin: 10px;
    font-size: 16px;
    font-weight: normal;
  }

  .main h4 {
    font-size: 18px;
    margin: 14px 30px;
    font-weight: normal;

  }

  .email-box {
    width: 35%;
    margin: 2px 0px;
    height: 50px;
    background-color: rgb(30, 27, 27);
    opacity: 0.9;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 5px;
    position: relative;
    font-size: 18px;
  }

  .email-btn {
    width: 22%;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(199, 7, 7);
    color: white;
    font-weight: bold;
    font-size: 19px;
    border: none;
    padding: 8px 20px;
    margin: 15px 5px;

  }

  .sepration {
    content: '';
    position: relative;
    top: 50%;
    left: 0;
    height: 50px;
    margin-top: -45px;
    background: linear-gradient(45deg, blue, rgb(216, 10, 161));
    border-radius: 50% 50% 0 0/100% 100% 0 0;

  }

  .line-border {
    content: '';
    background-color: black;
    background-image: linear-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    border-radius: 50% 50% 0 0;
    margin-top: -44px;
    top: 50%;
    height: 60px;
    width: 100%;
    position: relative;

  }

  .trending {
    background-color: black;
    color: white;
    padding: 10px 60px 30px;
    font-size: 20px;

  }
  
  .trending-btn select {
    width: 100px;
    height: 40px; 
    margin-left: 15px 50px 0; 
   
    padding-left: 10px;
    padding-right: 5px;
    font-size: 17px;
    background: rgb(23, 19, 19);
    color: white;
    border: 1px solid rgb(72, 69, 69);
    border-radius: 4px;
  }
  .trending-btn{
    margin: 5px 15px;
  }
  
  .container {
    max-width: 1200px;
    width: 80%;
   
    margin: 40px 80px;
  }
  .slide-wrapper .slide-button {
    position: absolute;
    height: 90px;
    width: 30px;
    color: white;
    border: none;
    outline: none;
    background-color: rgb(28, 27, 27);
    cursor: pointer;
    transform: translateY(-50%);
    top:253%;
  }
  
  .slide-wrapper .slide-button#pre-slide {
    left: 80px;
  }
  .slide-wrapper .slide-button:hover{
    background-color: rgb(41, 41, 41);
  }
  
  .slide-wrapper .slide-button#next-slide {
    right: 80px;
   
  }

  .fixed {
    background-color: black;
  }

  .fixed-btn {
    width: 90%;
    margin: 0 30px 15px;
    height: 40px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: red;
    position: fixed sticky;
  }

  .column {
    box-sizing: border-box;
    display:block;
    flex-direction: row;
    width: 100%;
    height: auto;
  }

  .col {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    height: 170px;
    background: linear-gradient(to right bottom, rgb(30, 22, 42), rgb(30, 22, 42), rgb(30, 22, 42), rgb(49, 29, 54));
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    padding: 25px 25px;
    margin: 20px auto;
    text-align: left;

  }

  .column h1 {
    font-size: 26px;
    font-weight: 700;
  }

  .col h3 {
    font-size: 18px;
    color: rgb(181, 180, 180);
  }

  .img1 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 20px;
  }
  .img2 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 30px;
  }
  .img3 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 30px;
  }
  .img4 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 20px;
  }

  .trending h2 {
    font-size: 30px;
    margin: 15px 0;
    font-weight: 100;
  }
  .faq{
  
    height: auto;
    background-color: black;
    padding: 30px 80px;
    
  }
  .faq h2{
    font-size: 30px;
    color: white;
   margin-left: 2px;
  }
  .accordion{
    max-width: 190vh;
    
  }
  .accordion .content-box{
    position: relative;
    margin: 10px 30px;
    
  }
  .accordion .content-box .label{
     position: relative;
     font-size: 20px;
     background-color:rgb(45, 45, 45);
     color: white;
     padding:  30px ; 
     cursor: pointer;
     width: 700px;
  }
  .accordion .content-box .label:hover{
      background-color: rgb(45,45,45);
  }
  .accordion .content-box .label::before{
      content: "+";
      position: absolute;
      top: 50%;
      left: 94%;
      transform: translateY(-50%);
      font-size: 1.5em;
      font-weight: 100;
  }
  
  .accordion .content-box.active .label::before{
      
      transform: rotate(135deg);
     top: 25%;
     font-size: 1.5em;
      font-weight: 200;
     
  }
  .accordion .content-box .content{
     position: relative;
     font-size: 20px;
     color: white;
     background-color:rgb(45, 45, 45);
     height: 0;
     overflow: hidden;
     transition: 0.4s;
     overflow-y: auto;
     width: 700px;
  
  }
  .accordion .content-box.active .content{
      height: auto;
      padding: 20px 30px 50px;
      margin-top: 3px ;
      margin-bottom: 6px;
  }
  footer{
    color: white;
    background-color: black;
    height: 60vw;
    margin: 0px;
    max-width: 100%;
    padding: 30px 75px;
    
  }
   footer .Questions{
    color: rgb(212, 205, 205);
    font-size:25px;
    margin: auto;
   
    
  }
  .footer{
    width: 100%;
    display: grid;
    height: 40vh;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-start;
    float: left;
   
   
   
  
  }
  .footer-item{
    gap: 23px;
    width:100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 0;
   float: left;
    text-align: left;
    
  }
  
  
  
  .footer-item a{
    
    color: rgb(202, 202, 202);
   font-size: 15px;
    margin-left: -20px;
   
    float: left;
   
   
  }
  .membership{
    font-size: 20px;
    margin: 2px 10px;
  }
  .email2{
    margin: 5px 2px;
  }
  .email-box2 {
    width: 70%;
    height: 55px;
    background-color: rgb(22, 20, 20);
    opacity: 0.8;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .email-btn2 {
    width: 25%;
    height: 55px;
    border-radius: 5px;
    background-color: rgb(188, 7, 7);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 7px 20px;
    margin: 20px 10px;
  
  }
  #language2{
    width: auto;
    padding: 8px 24px 8px 24px;
    font-size: 16px;
    color: white;
    background-color: black;
    opacity: 0.8;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 5px;
    margin: 20px 10px;
    background-image: url(language.png);
    background-repeat: no-repeat;
     float: left;
    justify-content: space-between;
    line-height: 2;
    background-size:30px;
  }
  
  
  
}
@media screen and (min-width:1024px) and (max-width:1440px) {
  header {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/9d3533b2-0e2b-40b2-95e0-ecd7979cc88b/a3873901-5b7c-46eb-b9fa-12fea5197bd3/IN-en-20240311-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 200vh;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  nav {
    margin: 0;
    padding: 20px 60px;
    background-color: transparent;
    height: 80px;
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .logo {
    font-size: 50px;
    margin: 0;
    font-weight:400;
    color: rgb(228, 7, 7);
    font-weight: bolder;
    float: left;

  }

  .nav-list {
    margin: 0 3px;
    float: right;
    font-size: 5px;

  }

  li {
    margin: 10px 3px;
    list-style: none;
    display: inline-block;
    padding: 0;

  }
  #language1{
    width: auto;
    padding: 10px 20px 10px 30px;
    font-size: 16px;
    height: 40px;
    color: white;
    background-color: black;
    opacity: 0.8;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 5px;
    margin: 0px 8px;
    background-image: url(language.png);
    background-repeat: no-repeat;
    background-size:30px;
    line-height: 2;
  }
  
  

  .btn2 {
    background-color: rgb(204, 4, 4);
    margin-top: 0;
    font-size: 20px;
    color: white;
    padding: 8px 18px;
    border: none;
    
  }

  

  .box {
    width: 100%;
    height: 200vh;
    opacity: 0.65;
    background-color: black;

  }

  .main {
    color: white;
    position: relative;
    text-align: center;
    justify-items: center;
    margin: 0px;

  }

  .main h1 {
    font-size: 60px;
    font-weight: 100rem;
    margin-top: -9rem;

  }

  .main h2 {
    margin: 12px;
    font-size: 24px;
    font-weight: normal;
  }

  .main h4 {
    font-size: 21px;
    margin: 16px 30px;
    font-weight: normal;

  }

  .email-box {
    width: 28%;
    margin: 2px 0px;
    height: 60px;
    background-color: rgb(30, 27, 27);
    opacity: 0.9;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 5px;
    position: relative;
    font-size: 18px;
  }

  .email-btn {
    width: 15%;
    height: 60px;
    border-radius: 5px;
    background-color: rgb(199, 7, 7);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 8px 20px;
    margin: 10px 12px;

  }

  .sepration {
    content: '';
    position: relative;
    top: 50%;
    left: 0;
    height: 50px;
    margin-top: -45px;
    background: linear-gradient(45deg, blue, rgb(216, 10, 161));
    border-radius: 50% 50% 0 0/100% 100% 0 0;

  }

  .line-border {
    content: '';
    background-color: black;
    background-image: linear-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    border-radius: 50% 50% 0 0;
    margin-top: -44px;
    top: 50%;
    height: 60px;
    width: 100%;
    position: relative;

  }

  .trending {
    background-color: black;
    color: white;
    padding: 10px 110px 30px;
    font-size: 20px;

  }
  
  .trending-btn select {
    width: 120px;
    height: 45px; 
    margin-left: 15px 50px 0; 
   
    padding-left: 12px;
    padding-right: 8px;
    font-size: 17px;
    background: rgb(23, 19, 19);
    color: white;
    border: 1px solid rgb(72, 69, 69);
    border-radius: 4px;
  }
  .trending-btn{
    margin: 5px 15px;
  }
  
  .container {
    max-width: 1200px;
    width: 90%;
   
    margin: 40px 40px;
  }
  .slide-wrapper .slide-button {
    position: absolute;
    height: 90px;
    width: 30px;
    color: white;
    border: none;
    outline: none;
    background-color: rgb(28, 27, 27);
    cursor: pointer;
    transform: translateY(-50%);
    top:282%;
  }
  
  .slide-wrapper .slide-button#pre-slide {
    left: 100px;
  }
  .slide-wrapper .slide-button:hover{
    background-color: rgb(41, 41, 41);
  }
  
  .slide-wrapper .slide-button#next-slide {
    right: 110px;
   
  }
  

  .fixed {
    background-color: black;
  }

  .fixed-btn {
    width: 90%;
    margin: 0 30px 15px;
    height: 40px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: red;
    position: fixed sticky;
  }

  .column {
    box-sizing: border-box;
    display:inline-flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
  }

  .col {
    width: 25%;
      height: 290px;
    background: linear-gradient(to right bottom, rgb(30, 22, 42), rgb(30, 22, 42), rgb(30, 22, 42), rgb(49, 29, 54));
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    padding: 25px 20px;
    margin: 0px 5px;
    text-align: left;

  }

   .column h1 {
    font-size: 28px;
    font-weight: normal;
    margin: 10px 0;
    
  }

  .col h3 {
    font-size: 17px;
    color: rgb(181, 180, 180);
  }

  .img1 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 60px;
  }
  .img2 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 15px;
  }
  .img3 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 60px;
  }
  .img4 {
    width: 60px;
    height: 50px;
    float: right;
    margin-top: 20px;
  
  }

  .trending h2 {
    font-size: 30px;
    margin: 10px 0;
    font-weight: 600;
  }
  .faq{
  
    height: auto;
    background-color: black;
    padding: 30px 150px;
    
  }
  .faq h2{
    font-size: 30px;
    color: white;
   margin-left: 2px;
  }
  .accordion{
    max-width: 190vh;
    
  }
  .accordion .content-box{
    position: relative;
    margin: 10px 30px;
    
  }
  .accordion .content-box .label{
     position: relative;
     font-size: 20px;
     background-color:rgb(45, 45, 45);
     color: white;
     padding:  30px ; 
     cursor: pointer;
     width: 700px;
  }
  .accordion .content-box .label:hover{
      background-color: rgb(45,45,45);
  }
  .accordion .content-box .label::before{
      content: "+";
      position: absolute;
      top: 50%;
      left: 94%;
      transform: translateY(-50%);
      font-size: 1.5em;
      font-weight: 100;
  }
  
  .accordion .content-box.active .label::before{
      
      transform: rotate(135deg);
     top: 25%;
     font-size: 1.5em;
      font-weight: 200;
     
  }
  .accordion .content-box .content{
     position: relative;
     font-size: 20px;
     color: white;
     background-color:rgb(45, 45, 45);
     height: 0;
     overflow: hidden;
     transition: 0.4s;
     overflow-y: auto;
     width: 700px;
  
  }
  .accordion .content-box.active .content{
      height: auto;
      padding: 20px 30px 50px;
      margin-top: 3px ;
      margin-bottom: 6px;
  }
  footer{
    color: white;
    background-color: black;
    height: 40vw;
    margin: 0px;
    max-width: 100%;
    padding: 30px 130px;
    
  }
   footer .Questions{
    color: rgb(212, 205, 205);
    font-size:22px;
    margin: auto
  
    
  }
  .footer{
    width: 100%;
    display: grid;
    height: 20vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: flex-start;
    float: left;
   
   
   
  
  }
  .footer-item{
    gap: 23px;
    width:100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 0;
   float: left;
    text-align: left;
    
  }
  
  
  .footer-item a{
    
    color: rgb(202, 202, 202);
   font-size: 15px;
    margin-left: -20px;
   
    float: left;
   
   
  }
  .membership{
    font-size: 23px;
    margin: 2px 10px;
  }
  .email2{
    margin: auto;
  }
  .email-box2 {
    width: 70%;
    height: 55px;
    background-color: rgb(22, 20, 20);
    opacity: 0.8;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .email-btn2 {
    width: 17%;
    height: 55px;
    border-radius: 5px;
    background-color: rgb(188, 7, 7);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 7px 20px;
    margin: 20px 15px;
  
  }
  #language2{
    width: auto;
    padding: 8px 24px 8px 24px;
    font-size: 16px;
    color: white;
    background-color: black;
    opacity: 0.8;
    border: 1px solid rgb(99, 99, 99);
    border-radius: 5px;
    margin: 20px 10px;
    background-image: url(language.png);
    background-repeat: no-repeat;
     float: left;
    justify-content: space-between;
    line-height: 2;
    background-size:30px;
  }
  
  
  
}
